In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('food.csv')

In [4]:
data.shape

(71514, 14)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71514 entries, 0 to 71513
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       71514 non-null  object
 1   admin1     71514 non-null  object
 2   admin2     71514 non-null  object
 3   market     71514 non-null  object
 4   latitude   71514 non-null  float64
 5   longitude  71514 non-null  float64
 6   category   71514 non-null  object
 7   commodity  71514 non-null  object
 8   unit       71514 non-null  object
 9   priceflag  71514 non-null  object
 10  pricetype  71514 non-null  object
 11  currency   71514 non-null  object
 12  price      71514 non-null  float64
 13  usdprice   71514 non-null  float64
dtypes: float64(4), object(10)
memory usage: 7.6+ MB

In [6]:
data2 = data[(data['price'] != 0) & ((data['commodity'] == 'Maize') | (data['commodity'] == 'Beans') | (data['commodity'] == 'Rice'))]

In [7]:
data2.shape

(13165, 14)

In [8]:
data2['commodity'].value_counts()

commodity
Rice     6066
Maize    3999
Beans    3100
Name: count, dtype: int64

In [9]:
data3 = data2[(data2['market'] == 'Kibaigwa') | (data2['market'] == 'Mpanda') | (data2['market'] == 'Musoma') | (data2['market'] == 'Babati') | (data2['admin1'] == 'Morogoro') | (data2['market'] == 'Mtwara DC') | (data2['admin1'] == 'Tabora') | (data2['market'] == 'Tanga / Mgandini') | (data2['market'] == 'Bukoba') | (data2['market'] == 'Dodoma (Majengo)') | (data2['admin2'] == 'Arusha Urban') | (data2['admin2'] == 'Kinondoni') | (data2['admin2'] == 'Ilala')]

In [10]:
data3.shape

(6060, 14)

In [11]:
data4 = data3[(data3['unit'] == '100 KG')]

In [12]:
data4.shape

(5871, 14)

In [13]:
data4['market'].value_counts()

market
Arusha (urban)         606
Dodoma (Majengo)       579
Mtwara DC              578
Tabora                 568
Babati                 562
Musoma                 548
Bukoba                 545
Morogoro               533
Tanga / Mgandini       498
Dar Es Salaam          487
Mpanda                 120
Kinondoni (Tandale)    103
Ilala (Buguruni)        83
Kibaigwa                61
Name: count, dtype: int64

In [14]:
def replace_market(row):
    if row['admin2'] == 'Ilala':
        return 'Dar es Salaam - Ilala'
    else:
        return row['market']

data4.loc[:, 'market'] = data4.apply(replace_market, axis=1)

In [15]:
def replace_market(row):
    if row['admin2'] == 'Kinondoni':
        return 'Dar es Salaam - Kinondoni'
    else:
        return row['market']

data4.loc[:, 'market'] = data4.apply(replace_market, axis=1)

In [16]:
def replace_market(row):
    if row['market'] == 'Kibaigwa':
        return 'Dodoma (Kibaigwa)'
    else:
        return row['market']

data4.loc[:, 'market'] = data4.apply(replace_market, axis=1)

In [35]:
data4.head()

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice,year
0,2006-01-15,Arusha,Arusha Urban,Arusha (urban),-3.366667,36.683333,cereals and tubers,Maize,100 KG,actual,Wholesale,TZS,38464.29,32.7411,2006
1,2006-01-15,Arusha,Arusha Urban,Arusha (urban),-3.366667,36.683333,cereals and tubers,Rice,100 KG,actual,Wholesale,TZS,63227.27,53.8196,2006
2,2006-01-15,Arusha,Arusha Urban,Arusha (urban),-3.366667,36.683333,pulses and nuts,Beans,100 KG,actual,Wholesale,TZS,80714.29,68.7047,2006
3,2006-02-15,Arusha,Arusha Urban,Arusha (urban),-3.366667,36.683333,cereals and tubers,Maize,100 KG,actual,Wholesale,TZS,34833.33,29.5699,2006
4,2006-02-15,Arusha,Arusha Urban,Arusha (urban),-3.366667,36.683333,cereals and tubers,Rice,100 KG,actual,Wholesale,TZS,72727.27,61.7379,2006

In [34]:
data4['date'] = pd.to_datetime(data4['date'], errors='ignore', dayfirst=True, format='%d/%m/%Y')

C:\Users\msbdp\AppData\Local\Temp\ipykernel_14388\2807003173.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4['date'] = pd.to_datetime(data4['date'], errors='ignore', dayfirst=True, format='%d/%m/%Y')

In [26]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5871 entries, 0 to 71143
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       5871 non-null   datetime64[ns]
 1   admin1     5871 non-null   object
 2   admin2     5871 non-null   object
 3   market     5871 non-null   object
 4   latitude   5871 non-null   float64
 5   longitude  5871 non-null   float64
 6   category   5871 non-null   object
 7   commodity  5871 non-null   object
 8   unit       5871 non-null   object
 9   priceflag  5871 non-null   object
 10  pricetype  5871 non-null   object
 11  currency   5871 non-null   object
 12  price      5871 non-null   float64
 13  usdprice   5871 non-null   float64
dtypes: datetime64[ns](1), float64(4), object(9)
memory usage: 688.0+ KB

In [27]:
data4.to_csv('needed_food_data.csv', index=False)

In [ ]:
data4

In [36]:
data4.loc[:, 'year'] = data4['date'].dt.year

In [40]:
data4.head()

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice,year,month
0,2006-01-15,Arusha,Arusha Urban,Arusha (urban),-3.366667,36.683333,cereals and tubers,Maize,100 KG,actual,Wholesale,TZS,38464.29,32.7411,2006,1
1,2006-01-15,Arusha,Arusha Urban,Arusha (urban),-3.366667,36.683333,cereals and tubers,Rice,100 KG,actual,Wholesale,TZS,63227.27,53.8196,2006,1
2,2006-01-15,Arusha,Arusha Urban,Arusha (urban),-3.366667,36.683333,pulses and nuts,Beans,100 KG,actual,Wholesale,TZS,80714.29,68.7047,2006,1
3,2006-02-15,Arusha,Arusha Urban,Arusha (urban),-3.366667,36.683333,cereals and tubers,Maize,100 KG,actual,Wholesale,TZS,34833.33,29.5699,2006,2
4,2006-02-15,Arusha,Arusha Urban,Arusha (urban),-3.366667,36.683333,cereals and tubers,Rice,100 KG,actual,Wholesale,TZS,72727.27,61.7379,2006,2

In [39]:
data4.loc[:, 'month'] = data4['date'].dt.month

In [41]:
columns_to_drop = ['date', 'admin1', 'admin2', 'category', 'priceflag', 'pricetype', 'currency', 'usdprice']

data4 = data4.drop(columns_to_drop, axis=1)

In [42]:
data4.to_csv('needed_food_data.csv', index=False)